@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Open Sans', Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}